


<form novalidate #myForm="ngForm" >

<div class="au-panel" >
  <div class="au-panel-header au-bg-gray">
    <app-toolbar-button
    [showAddButton]="true"
    [showEditButton]="true"           
    [showDeleteButton]="true"
    [showDeletAlleButton]="true"
    (addClicked)="onAddClicked()"
    (editClicked)="onEditClicked()"
    (deleteClicked)="onDeleteClicked()"
    (deleteAllClicked)="onDeleteAllClicked()"
    
    >
        
        </app-toolbar-button>
      </div>

<kendo-grid
[data]="gridDataResult | async"
[pageSize]="state.take"
[skip]="state.skip"
[sort]="state.sort"
[sortable]="true"
[pageable]="true"
[selectable]="true"
(dataStateChange)="onDataStateChange($event)"
(pageChange)="onPageChange($event)"
[filter]="state.filter"
 filterable="menu"
 [resizable]="true"
     
[selectable]="selectableSettings" 
[kendoGridSelectBy]="'countryId'"
[selectedKeys]="dataItemSelected"
(selectedKeysChange)="onSelectedKeysChange($event)"


[height]="500"
[ngBusy]="busyConfig" 
>

<kendo-grid-checkbox-column
 width="40"
>
        <ng-template kendoGridHeaderTemplate>
            <input class="k-checkbox" 
            id="selectAllCheckboxId"
             kendoGridSelectAllCheckbox
             [state]="selectAllState"
            (selectAllChange)="onSelectAllChange($event)">
            <label class="k-checkbox-label"
             for="selectAllCheckboxId"></label>
        </ng-template>
    </kendo-grid-checkbox-column>
  

<kendo-grid-column
 field="countryName"
  title="نام کشور">
</kendo-grid-column>


<!-- <kendo-grid-command-column title="" width="30">
  <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridEditCommand type="button" >ویرایش</button>
      <button kendoGridRemoveCommand type="button">حذف</button>
      <button kendoGridSaveCommand type="button" [disabled]="myForm.invalid">{{ isNew ? 'افزودن' : 'ویرایش' }}</button>
      <button kendoGridCancelCommand type="button">{{ isNew ? 'عدم ذخیره' : 'انصراف' }}</button>
  </ng-template>
</kendo-grid-command-column> -->

</kendo-grid>
</div>

</form> 

<app-country-upsert
#dialogUpsert
(closedDialog)="closedDialog($event)"
>

</app-country-upsert>