<kendo-window   [height]="700" title="مشخصات" 
(close)="onClose()" *ngIf="isOpenedDialog" 
 class="plan-dialog"
 style="text-align:right;width: 100%;" >

  <!-- <kendo-window-titlebar>
    <div style="font-size: 18px; line-height: 1.3em;">
      <span class="k-icon k-i-warning"></span> مشخصات
    </div>
  </kendo-window-titlebar> -->

  <app-sales-plan-detail #planDetail [model]="model">
  </app-sales-plan-detail>


  <!-- <kendo-window-actions>

    <button kendoButton class="k-button " (click)="onClose()">انصراف</button>
  </kendo-window-actions> -->

</kendo-window>