


<div class="au-margin-top-10">

    <div class="row bhoechie-tab-container au-margin-bottom-10 au-margin-top-10"
    style="height: 565px;">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
            <div class="list-group">
                <a href="#" class="list-group-item active ">
                    اطلاعات پایه
                </a>
                <a href="#" 
                *ngIf="model.salesPlanId > 0 "
                class="list-group-item ">
                    محدوده افراد
                </a>
                <a href="#"  
                *ngIf="model.salesPlanId > 0 " 
                class="list-group-item ">
                    محدوده واحد ها
                </a>
                <!-- <a href="#" class="list-group-item ">
                    محدوده انتخاب
                </a> -->
                <a href="#"   
                *ngIf="model.salesPlanId > 0 " 
                class="list-group-item ">
                    ارزشگذاری
                </a>
                <a href="#"   
                *ngIf="model.salesPlanId > 0 " 
                class="list-group-item ">
                    مالی
                </a>
                <!-- <a href="#" class="list-group-item ">
                    فرم های مرتبط
                </a>
                <a href="#" class="list-group-item ">
                    پیوست ها
                </a>
                <a href="#" class="list-group-item ">
                    تاریخچه تغییرات
                </a> -->
                <a href="#"   
                *ngIf="model.salesPlanId > 0 " 
                class="list-group-item ">
                    باندلینگ
                </a>
             
            </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
            <!-- flight section -->
            <div class="bhoechie-tab-content active">
                <app-sales-plan-upsert [model]="model" (addedPlan)="onAddedPlan($event)">
                  </app-sales-plan-upsert>
            </div>
            <!-- train section -->
            <div class="bhoechie-tab-content"  
                *ngIf="model.salesPlanId > 0 " 
                >
                <app-person-bundling 
                #personBundling 
                [salesPlanId]="model.salesPlanId">
                  </app-person-bundling>
            </div>

            <!-- hotel search -->
            <div class="bhoechie-tab-content"  
            *ngIf="model.salesPlanId > 0 " 
            >
              <app-unit-bundling>
                
              </app-unit-bundling>
            </div>
            <!-- <div class="bhoechie-tab-content">
              
            </div> -->
            <div class="bhoechie-tab-content"  
            *ngIf="model.salesPlanId > 0 " 
            >
              
            </div>
            <div class="bhoechie-tab-content"  
            *ngIf="model.salesPlanId > 0 " 
            >
               
            </div>
            <!-- <div class="bhoechie-tab-content">
           
            </div>
            <div class="bhoechie-tab-content">
              
            </div>
            <div class="bhoechie-tab-content">
            
            </div>-->
            <div class="bhoechie-tab-content">
                
            </div> 
        </div>
    </div>




</div>
