


    







  <form novalidate #myForm="ngForm" >
    <div class="au-panel">
     <div class="au-panel-header au-bg-gray">
       <app-toolbar-button
       [showAddButton]="true"
       [showEditButton]="true"           
       [showDeleteButton]="true"
       [showDeletAlleButton]="true"
       (addClicked)="onAddClicked()"
       (editClicked)="onEditClicked()"
       (deleteClicked)="onDeleteClicked()"
       (deleteAllClicked)="onDeleteAllClicked()"
       
       >
           
           </app-toolbar-button>
         </div>
     <kendo-grid
      [data]="gridDataResult | async" 
     [pageSize]="state.take"
      [skip]="state.skip"
       [sort]="state.sort"
        [sortable]="true"
       [pageable]="true" 
       [selectable]="true"  
       (dataStateChange)="onDataStateChange($event)"
       (pageChange)="onPageChange($event)"
       [filter]="state.filter" 
        filterable="menu" 
       [resizable]="true"
           
      
       [selectable]="selectableSettings" 
       [kendoGridSelectBy]="'salesPlanId'"
       [selectedKeys]="dataItemSelected"
       (selectedKeysChange)="onSelectedKeysChange($event)"
       
      [height]="500"
       >
       <!-- (selectionChange)="valueGrid.setValueItem($event)" -->
       <kendo-grid-checkbox-column
       width="40"
       >
               <ng-template kendoGridHeaderTemplate>
                   <input class="k-checkbox" 
                   id="selectAllCheckboxId"
                    kendoGridSelectAllCheckbox
                    [state]="selectAllState"
                   (selectAllChange)="onSelectAllChange($event)">
                   <label class="k-checkbox-label"
                    for="selectAllCheckboxId"></label>
               </ng-template>
           </kendo-grid-checkbox-column>
         
       <kendo-grid-column
        field="number"
         title="شماره">
         </kendo-grid-column>
 
       <kendo-grid-column
        field="title"
        title="عنوان">
         </kendo-grid-column>
 
       <kendo-grid-column
        field="startDate"
         title="تاریخ شروع">
         </kendo-grid-column>
 
       <kendo-grid-column
        field="endDate"
        title="تاریخ انقضاء">
         </kendo-grid-column>
 
 
 
      
 
     </kendo-grid>
   </div>
   </form>
 
 
 
 <!-- <div  class="au-margin-top-10" >
 
     <app-feature-value-grid #valueGrid
     [dataItem]="dataItemValue" > 
     </app-feature-value-grid>
 
 </div> -->
 
 <app-sales-plan-dialog
 #dialogUpsert
 (closedDialog)="closedDialog($event)">
 
 </app-sales-plan-dialog>
 
 