
 <div class="au-panel" style="margin-right: 10px;">
    <div class="au-panel-header au-bg-gray">
      <app-toolbar-button 
      [showAddButton]="true"
       [showEditButton]="false"
        [showDeleteButton]="false" 
       [showDeletAlleButton]="true"
        (addClicked)="onOk()" 
        >

      </app-toolbar-button>
    </div>

<form class="k-form" #detailValueForm="ngForm" (ngSubmit)="onSaveDetail(detailValueForm.form)" style="text-align:right;">
    <div >
        <div class="row ">
            <div class="col-md-6">
                <label class="k-form-field">
                    <span>شماره</span>
                    <input class="k-textbox" name="number" [(ngModel)]="model.number" required />
                </label>
            </div>
            <div class="col-md-6">
                <label class="k-form-field">
                    <span>عنوان</span>
                    <input class="k-textbox" name="title" [(ngModel)]="model.title" required />
                </label>
            </div>

        </div>

        <div class="au-margin-top-10" style="height: 200px;">

            <div class="col-md-6">

                <label class="k-form-field">
                    <span>وضعیت</span>
                    <app-sales-plan-status-combo name="salesPlanStatusId" [(ngModel)]="model.salesPlanStatusId">
                    </app-sales-plan-status-combo>
                </label>


                <label class="k-form-field">
                    <span>تاریخ شروع</span>

                    <dp-date-picker name="registerDate"
                     [(ngModel)]="startDate" 
                     theme="dp-material" 
                     class="k-textbox" 
                     style="width:100%;" 
                     [config]="datePickerConfig"
                     >
                    </dp-date-picker>

                </label>

                <label class="k-form-field">
                    <span>تاریخ انقضاء</span>

                    <dp-date-picker name="registerDate" [(ngModel)]="endDate" theme="dp-material" class="k-textbox" style="width:100%;" [config]="datePickerConfig"
                        realonly>
                    </dp-date-picker>

                </label>
            </div>
            <div class="col-md-6">
                <label class="k-form-field">
                    <span>توضیحات</span>
                    <input class="k-textarea" name="description" [(ngModel)]="model.description" style="height: 170px !important;" />
                </label>
            </div>

        </div>

    </div>
</form>

<!-- <div>
    <button kendoButton class="k-button " (click)="onOk()" primary="true" type="submit">تایید</button>
    <button kendoButton class="k-button " (click)="onClose()">انصراف</button>
</div> -->
</div>