* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "DroidNaskh-Regular",Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.header {
    margin: 5px 0;
}

.banner {
    min-height: 220px;
    border: 1px #000000 solid;
}
