

<kendo-dialog [width]="700" [height]="500" 
[title]="Status" 
(close)="onClose()"
 *ngIf="isOpenedDialog"
  class="au-custome-dialog"
  style="text-align:right;">
    
      <kendo-dialog-titlebar>
        <div style="font-size: 18px; line-height: 1.3em;">
          <span class="k-icon k-i-warning"></span> مشخصات
        </div>
      </kendo-dialog-titlebar>


      
<kendo-tabstrip 
[expandMode]="'single'" 
[keepTabContent]="true" 
[ngBusy]="busyConfig"
 class="au-margin-top-10" >

  

  <kendo-tabstrip-tab [title]="'ویژگی ها'" 
  [expanded]='true' 
  [selected]="true" >
    <ng-template kendoTabContent>

      <app-special-status-tree 
       #statusTree   >
      </app-special-status-tree>

    </ng-template>
  </kendo-tabstrip-tab>


    <kendo-tabstrip-tab [title]="'اشخاص حقیقی'">
      <ng-template kendoTabContent>
  
          <app-person-search 
          #personSearch >
          </app-person-search>
  
      </ng-template>
    </kendo-tabstrip-tab>
  
  
    <kendo-tabstrip-tab [title]="'اشخاص حقوقی'">
      <ng-template kendoTabContent>

        <app-company-search
        #companySearch >
        </app-company-search>
      </ng-template>
    </kendo-tabstrip-tab>




  
  </kendo-tabstrip>



  <kendo-dialog-actions>
    <button kendoButton class="k-button " (click)="onOk()" 
     primary="true" type="submit">تایید</button>  

    <button kendoButton class="k-button "
     (click)="onClose()">انصراف</button>
  </kendo-dialog-actions>

</kendo-dialog>
