<kendo-dialog [width]="900"
 [height]="500" [title]="Status"
  (close)="onClose()" 
  *ngIf="isOpenedDialog"
   class="au-custome-dialog"
  style="text-align:right;">

  <kendo-dialog-titlebar>
    <div style="font-size: 18px; line-height: 1.3em;">
      <span class="k-icon k-i-warning"></span> مشخصات
    </div>
  </kendo-dialog-titlebar>


  <div class="au-margin-top-10">

      <label class="k-form-field" style="padding-right: 5px;">
          <input type="checkbox"
           id="hasPermmision" 
           name="hasPermmision"
          [(ngModel)]="model.hasPermmision" 
          class="k-checkbox">
          <label class="k-checkbox-label"
           for="hasPermmision">
           دسترسی دارد
          </label>

      </label>
  </div>

  <div class="au-margin-top-10">

    <app-person-search #personSearch>

    </app-person-search>
  </div>

  <div class="au-margin-top-10">

  <button kendoButton class="k-button " (click)="onOk()" primary="true" type="submit">تایید</button>
  <button kendoButton class="k-button " (click)="onClose()">انصراف</button>
</div>

  <!-- <kendo-dialog-actions>
    <button kendoButton class="k-button " (click)="onOk()" primary="true" type="submit">تایید</button>
    <button kendoButton class="k-button " (click)="onClose()">انصراف</button>
  </kendo-dialog-actions> -->

</kendo-dialog>