<!-- <div class="au-panel">
  <div class="au-panel-header au-bg-gray">
    <h3>محدوده افراد</h3>
  </div> -->

<kendo-tabstrip [expandMode]="'single'" [ngBusy]="busyConfig" >

    <kendo-tabstrip-tab [title]="'ویژگی های خاص'" [expanded]='true' [selected]="true" >
      <ng-template kendoTabContent>
  
          <div class="au-panel">
              <div class="au-panel-header au-bg-gray">
                <app-toolbar-button
                [showAddButton]="true"
                [showEditButton]="false"           
                [showDeleteButton]="false"
                [showDeletAlleButton]="true"
                (addClicked)="onSaveStatus()"
                (editClicked)="onEditClicked()"
                (deleteClicked)="onDeleteClicked()"
                (deleteAllClicked)="onDeleteAllClicked()"
                
                >
                    
            </app-toolbar-button>
              </div>
        <app-special-status-tree 
         #statusTree   >
        </app-special-status-tree>

        </div>

      </ng-template>
    </kendo-tabstrip-tab>
  
  
    <kendo-tabstrip-tab [title]="'استثناء'">
      <ng-template kendoTabContent>
  
        <div style="width:750px;">
          <app-person-exception>
          </app-person-exception>
        </div>
  
      </ng-template>
    </kendo-tabstrip-tab>
  
  
    <kendo-tabstrip-tab [title]="'نتایج'">
      <ng-template kendoTabContent>
        <app-person-result>
        </app-person-result>
      </ng-template>
    </kendo-tabstrip-tab>
  
  </kendo-tabstrip>


<!-- </div> -->
