
  <!-- [ngBusy]="busyConfig" -->

  <kendo-tabstrip [expandMode]="'single'" 

  >
 
     <kendo-tabstrip-tab [title]="'اشخاص حقیقی/حقوقی'" 
     [expanded]='true' 
     [selected]="true" >
 
       <ng-template kendoTabContent>
         <app-buyer-range 
         #buyerRange 
         [salePlanId]="salePlanId"  
         [fillterType]="fillterByPersonAndCompany">
         </app-buyer-range>
       </ng-template>
     </kendo-tabstrip-tab>
   
   
     <kendo-tabstrip-tab [title]="'اشخاص حقیقی'">
       <ng-template kendoTabContent>
   
         <div style="width:750px;">
           <app-buyer-range 
           [salePlanId]="salePlanId" 
           [fillterType]="fillterByPerson" 
           >
           </app-buyer-range>
         </div>
   
       </ng-template>
     </kendo-tabstrip-tab>
   
   
     <kendo-tabstrip-tab [title]="'اشخاص حقوقی'">
       <ng-template kendoTabContent>
         <app-buyer-range [salePlanId]="salePlanId"  
         [fillterType]="fillterByCompany">
         </app-buyer-range>
       </ng-template>
     </kendo-tabstrip-tab>
   
   </kendo-tabstrip>
 
 
 <!-- </div> -->
 