
<form novalidate
*ngIf="wbsHid > 0 "
#myForm="ngForm" >
   
<fieldset>
  <legend>واحد های : {{ wbsModel.name }}</legend>
</fieldset>
  <div class="au-panel">
    <div class="au-panel-header au-bg-gray">
      <app-toolbar-button
      [buttons]="buttons"
      [showAddButton]="true"
      [showEditButton]="true"           
      [showDeleteButton]="true"
      [showDeletAlleButton]="true"
      (addClicked)="onAddClicked()"
      (editClicked)="onEditClicked()"
      (deleteClicked)="onDeleteClicked()"
      (deleteAllClicked)="onDeleteAllClicked()"
      
      >
          
          </app-toolbar-button>
        </div>
  

  <kendo-grid
  [data]="gridDataResult | async"
  [pageSize]="state.take"
  [skip]="state.skip"
  [sort]="state.sort"
  [sortable]="true"
  [pageable]="true"
  [selectable]="true"
  (dataStateChange)="onDataStateChange($event)"
  (pageChange)="onPageChange($event)"
  [filter]="state.filter" 
   filterable="menu" 
  [resizable]="true"
      
       
  [selectable]="selectableSettings" 
  [kendoGridSelectBy]="'unitId'"
  [selectedKeys]="dataItemSelected"
  (selectedKeysChange)="onSelectedKeysChange($event)"
  [ngBusy]="busyConfig" 
  [height]="500"
  >
  <kendo-grid-checkbox-column
   width="40"
  >
          <ng-template kendoGridHeaderTemplate>
              <input class="k-checkbox" 
              id="selectAllCheckboxId"
               kendoGridSelectAllCheckbox
               [state]="selectAllState"
              (selectAllChange)="onSelectAllChange($event)">
              <label class="k-checkbox-label"
               for="selectAllCheckboxId"></label>
          </ng-template>
      </kendo-grid-checkbox-column>
    
  
  <kendo-grid-column 
  field="unitTitle"
  title="عنوان واحد">  
  </kendo-grid-column>

  <kendo-grid-column 
  field="unitNumber"
  title="شماره واحد">  
  </kendo-grid-column>
    
  <kendo-grid-column 
  field="nominalArea"
  title="متراژ اسمی واحد">  
  </kendo-grid-column>
    


  </kendo-grid>
  </div>
  
  </form> 
  
  <app-unit-feature-assigned #featuredialog >
  <!-- (closedDialog)="closedFeatureDialog($event)" -->
    </app-unit-feature-assigned>
    
  <app-unit-detail
  #dialogUpsert
  (closedDialog)="closedDialog($event)"
  >
    </app-unit-detail>




