<kendo-dialog [width]="950" [height]="700" [title]="Status" (close)="onClose()" *ngIf="isOpenedDialog" class="au-custome-dialog"
  style="text-align:right;">

  <kendo-dialog-titlebar>
    <div style="font-size: 18px; line-height: 1.3em;">
      <span class="k-icon k-i-warning"></span> مشخصات
    </div>
  </kendo-dialog-titlebar>



    <kendo-splitter>

      <kendo-splitter-pane [collapsible]="true" size="30%">
        <div class="pane-content">
          <!-- [(ngModel)]="model.wbsUnitId"  -->
          <app-wbs-active-tree name="wbsHid" 
          (checkedKeysChange)="showChecked($event)"
           #wbsTree>
          </app-wbs-active-tree>

        </div>
      </kendo-splitter-pane>

      <kendo-splitter-pane>
        <div class="pane-content">
          <app-unit-bundling-search 
          #searchForm
          [salePlanId]="salePlanId" 
          [filterModel]="filterModel" 
          [(wbsHid)]="wbsHid" >
          </app-unit-bundling-search>
        </div>
      </kendo-splitter-pane>

    </kendo-splitter>




  <kendo-dialog-actions>

    <button kendoButton *ngIf="showSearch==false" class="k-button " primary="true" (click)="onSearch()">جستجو</button>
    <button kendoButton *ngIf="showSearch" class="k-button " primary="true" (click)="onOk()">تایید</button>
    <button kendoButton class="k-button " (click)="onClose()">انصراف</button>
  </kendo-dialog-actions>

</kendo-dialog>