<kendo-dialog [width]="950" [height]="700" 
   [title]="Status" (close)="onClose()" *ngIf="isOpenedDialog" style="text-align:right;">

    <kendo-dialog-titlebar>
        <div style="font-size: 18px; line-height: 1.3em;">
            <span class="k-icon k-i-warning"></span> مشخصات
        </div>
    </kendo-dialog-titlebar>


    <kendo-tabstrip [expandMode]="'single'" [keepTabContent]="true" 
      class="au-margin-top-10">

        <kendo-tabstrip-tab [title]="'کاربری'" [expanded]='true' [selected]="true">
            <ng-template kendoTabContent>

                <app-usage-tree 
                #usageTree
                [selectedKeys]="filterUsageItemsId" 
                ></app-usage-tree>
            

            </ng-template>
        </kendo-tabstrip-tab>


        <kendo-tabstrip-tab [title]="'متراژ'" >
            <ng-template kendoTabContent> 
                <app-unit-bundling-filter-area 
                 [model]="filterAreaModel"
                 ></app-unit-bundling-filter-area>
            </ng-template>
        </kendo-tabstrip-tab>


        <kendo-tabstrip-tab [title]="'ویژگیهای عمومی'" >
            <ng-template kendoTabContent>
             
                <app-feature-tree [featureId]="1" 
                [checkedKeys]="filterFeatureId" ></app-feature-tree>
         
            </ng-template>
        </kendo-tabstrip-tab>

        <kendo-tabstrip-tab [title]="'ویژگیهای انتخابی'" >
            <ng-template kendoTabContent>
             
                <app-feature-tree [featureId]="2" 
                [checkedKeys]="filterSelectiveFeatureId" ></app-feature-tree>
         
            </ng-template>
        </kendo-tabstrip-tab>



    </kendo-tabstrip>


    <kendo-dialog-actions>
        <button kendoButton class="k-button " (click)="onOk()" primary="true" type="submit">تایید</button>
        <button kendoButton class="k-button " (click)="onClose()">انصراف</button>
    </kendo-dialog-actions>

</kendo-dialog>