

  <form novalidate #myForm="ngForm" >
    <div class="au-panel">
     <div class="au-panel-header au-bg-gray">
       <app-toolbar-button
       [showAddButton]="true"       
       [showDeleteButton]="true"
       [showDeletAlleButton]="true"
       (addClicked)="onAddClicked()"
       (deleteClicked)="onDeleteClicked()"
       (deleteAllClicked)="onDeleteAllClicked()"
       
       >
           
           </app-toolbar-button>
         </div>
     <kendo-grid
      [data]="gridDataResult | async" 
     [pageSize]="state.take"
      [skip]="state.skip"
       [sort]="state.sort"
        [sortable]="true"
       [pageable]="true" 
       [selectable]="true"  
       (dataStateChange)="onDataStateChange($event)"
       (pageChange)="onPageChange($event)"
       [filter]="state.filter" 
        filterable="menu" 
       [resizable]="true"
           
      
       [selectable]="selectableSettings" 
       [kendoGridSelectBy]="'unitRangeId'"
       [selectedKeys]="dataItemSelected"
       (selectedKeysChange)="onSelectedKeysChange($event)"
       (selectionChange)="valueGrid.setValueItem($event)"
      [height]="500"
       >

       <kendo-grid-checkbox-column
       width="40"
       >
               <ng-template kendoGridHeaderTemplate>
                   <input class="k-checkbox" 
                   id="selectAllCheckboxId"
                    kendoGridSelectAllCheckbox
                    [state]="selectAllState"
                   (selectAllChange)="onSelectAllChange($event)">
                   <label class="k-checkbox-label"
                    for="selectAllCheckboxId"></label>
               </ng-template>
           </kendo-grid-checkbox-column>
         
       <kendo-grid-column
        field="unitTitle"
         title="واحد">
         </kendo-grid-column>
 
 
      
 
     </kendo-grid>
   </div>
   </form>
 
 
 <app-unit-bundling-dialog 
 #dialogUpsert
 (closedDialog)="closedDialog($event)">
 
 </app-unit-bundling-dialog>
 
 