

   <div id="custom-search-input">
    <div class="input-group col-md-12">
        <input type="text"
         name="search" [(ngModel)]="search"
         class="search-query form-control"
          placeholder="جستجو" />

        <span class="input-group-btn">
            <button class="btn btn-danger" type="button"
              (click)="openFilterDialog()" >
                <span class="fa fa-filter"></span>
            </button>
            <button class="btn btn-danger" type="button"
              (click)="refresh()" >
                <span class="fa fa-search"></span>
            </button>
        </span>

    </div>
</div>

  
   <form novalidate #myForm="ngForm"  class="au-margin-top-10">
    <div class="au-panel">
     <div class="au-panel-header au-bg-gray">
       
         </div>
     <kendo-grid
      [data]="gridDataResult | async" 
     [pageSize]="state.take"
      [skip]="state.skip"
       [sort]="state.sort"
        [sortable]="true"
       [pageable]="true" 
       [selectable]="true"  
       (dataStateChange)="onDataStateChange($event)"
       (pageChange)="onPageChange($event)"
       [filter]="state.filter" 
        filterable="menu" 
       [resizable]="true"
           
      
       [selectable]="selectableSettings" 
       [kendoGridSelectBy]="'unitRangeId'"
       [selectedKeys]="dataItemSelected"
       (selectedKeysChange)="onSelectedKeysChange($event)"
       
      [height]="500"
       >
       <!-- (selectionChange)="valueGrid.setValueItem($event)" -->
       <kendo-grid-checkbox-column
       width="60"
       >
               <ng-template kendoGridHeaderTemplate>
                   <input class="k-checkbox" 
                   id="selectAllCheckboxId"
                    kendoGridSelectAllCheckbox
                    [state]="selectAllState"
                   (selectAllChange)="onSelectAllChange($event)">
                   <label class="k-checkbox-label"
                    for="selectAllCheckboxId"></label>
               </ng-template>
           </kendo-grid-checkbox-column>
         
       <kendo-grid-column
        field="unitTitle"
         title="نام">
         </kendo-grid-column>
       
 
     </kendo-grid>
   </div>
   </form>
 
 

 
 <app-unit-bundling-filter 
    #filterDialog
  (closedDialog)="closedFilterDialog($event)"
 >

 </app-unit-bundling-filter>

