
<form novalidate #myForm="ngForm" style="margin-bottom: 100px;"> 
  



<div class="au-panel">
    <div class="au-panel-header au-bg-gray">
      <app-toolbar-button
      [showAddButton]="true"
      [showEditButton]="true"           
      [showDeleteButton]="true"
      [showDeletAlleButton]="true"
      (addClicked)="onAddClicked()"
      (editClicked)="onEditClicked()"
      (deleteClicked)="onDeleteClicked()"
      (deleteAllClicked)="onDeleteAllClicked()"
      
      >
          
          </app-toolbar-button>
        </div>
  
  <kendo-grid
  [data]="gridDataResult | async"
  [pageSize]="state.take"
  [skip]="state.skip"
  [sort]="state.sort"
  [sortable]="true"
  [pageable]="true"
  [selectable]="true"
  (dataStateChange)="onDataStateChange($event)"
  (pageChange)="onPageChange($event)"
  [filter]="state.filter" 
   filterable="menu" 
  [resizable]="true"
      
       
  [selectable]="selectableSettings" 
  [kendoGridSelectBy]="'personId'"
  [selectedKeys]="dataItemSelected"
  (selectedKeysChange)="onSelectedKeysChange($event)"
    
  [height]="500"
  [ngBusy]="busyConfig" 
  >

  <kendo-grid-checkbox-column
  width="40"
 >
         <ng-template kendoGridHeaderTemplate>
             <input class="k-checkbox" 
             id="selectAllCheckboxId"
              kendoGridSelectAllCheckbox
              [state]="selectAllState"
             (selectAllChange)="onSelectAllChange($event)">
             <label class="k-checkbox-label"
              for="selectAllCheckboxId"></label>
         </ng-template>
     </kendo-grid-checkbox-column>
  
     <kendo-grid-column field="firstName" title="نام"
     ></kendo-grid-column>
  <kendo-grid-column field="lastName" title="نام خانوادگی"
  ></kendo-grid-column>
  <kendo-grid-column field="aliasName" title="نام مستعار" width="200"></kendo-grid-column>
  <kendo-grid-column field="fatherName" title="نام پدر" width="200"></kendo-grid-column>
   
  
  </kendo-grid>
  </div>
  </form> 

   
  <app-person-dialog
  #personDialog>

 </app-person-dialog>

  

  
