

<kendo-treeview
        [nodes]="data  | async"
        [textField]="['value']"
        kendoTreeViewExpandable      
        [hasChildren]="hasChildren"
        [children]="fetchChildren"
        [kendoTreeViewCheckable]="checkableSettings"
        [checkBy]="'id'"
        [(checkedKeys)]="checkedKeys"
        [(expandedKeys)]="expandedKeys"
      

      [ngBusy]="busyConfig"   
      style="height: 300px;overflow: auto;"
      >
    </kendo-treeview>

    <!--

        kendoTreeViewHierarchyBinding
        childrenField="children"
      -->

