.k-form .k-form-field, .k-form-inline .k-form-field{
    text-align: right;
}

.k-window-content, .k-prompt-container{
    padding: 3px;
}
.k-form, .k-form-inline{
    padding: 5px;
}

.k-form fieldset legend,
.k-form-inline fieldset legend{
text-align: right;
border-bottom: 0;
}