
        <form class="k-form">

            <div class="row  au margin-top-10">
                <div class="col-md-4">
                    <label class="k-form-field">
                      <span>نوع شرکت
                        <span class="k-required">*</span>
                      </span>
                      <app-company-type-combo 
                      name="companyTypeId" 
                      [(ngModel)]="companyModel.companyTypeId"
                      ></app-company-type-combo>
                 
                    </label>
                  </div>
                  <div class="col-md-4">
                      <label class="k-form-field">
                        <span>نام شرکت
                          <span class="k-required">*</span>
                        </span>
                        <input class="k-textbox" 
                        required 
                        name="companyName" 
                        [(ngModel)]="companyModel.companyName" 
                        placeholder="نام  شرکت" />
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="k-form-field">
                        <span>نام اختصاری
                        </span>
                        <input class="k-textbox" required name="companyAbbreviation" [(ngModel)]="companyModel.companyAbbreviation" placeholder="نام اختصاری"
                        />
                      </label>
                    </div>
              </div>

    
              <div class="row  au margin-top-10">                    
                  <div class="col-md-4">
                      <label class="k-form-field">
                        <span>شماره ثبت
                          <span class="k-required">*</span>
                        </span>
                        <input class="k-textbox" required name="registrationNumber" [(ngModel)]="companyModel.registrationNumber" placeholder="شماره ثبت"
                        />
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="k-form-field">
                        <span>تاریخ ثبت 
                            <span class="k-required">*</span>
                        </span>
                                           <dp-date-picker 
                         name="registerDate" 
                         [(ngModel)]="registerDate "
                         placeholder="تاریخ"
                         theme="dp-material"
                         class="k-textbox"
                         style="width:100%;"
                         [config]="datePickerConfig" 
                         realonly
                         >
                         </dp-date-picker>
  
  
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="k-form-field">
                        <span>محل ثبت
                          <span class="k-required">*</span>
                        </span>
                        <input class="k-textbox" 
                        required name="registrationPlace"
                         [(ngModel)]="companyModel.registrationPlace" placeholder="محل ثبت " />
                      </label>
                    </div>
                  
              </div>
  
            <div class="row  au margin-top-10">
                 <div class="col-md-4">
                      <label class="k-form-field">
                        <span>کد اقتصادی
                          <span class="k-required">*</span>
                        </span>
                        <input class="k-textbox" name="economicCode"
                         [(ngModel)]="companyModel.economicCode"
                          placeholder="کد اقتصادی" required/>
                      </label>
                    </div>
                    <div class="col-md-4">
                        <label class="k-form-field">
                          <span>شناسه ملی
                          </span>
                          <input class="k-textbox" name="nationalIdCode"
                           [(ngModel)]="companyModel.nationalIdCode" placeholder="شناسه ملی" required/>
                        </label>
                      </div>
                      <div class="col-md-4">
                          <label class="k-form-field">
                            <span>شناسه ارزش افزوده
                            </span>
                            <input class="k-textbox" 
                            name="valueAddedId"
                             [(ngModel)]="companyModel.valueAddedId"
                              placeholder="شناسه ارزش افزوده" required/>
                          </label>
                        </div>
                
                </div>
            <div class="row  au margin-top-10">
                <div class="col-md-4">
                    <label class="k-form-field">
                      <span>تابعیت
                        <span class="k-required">*</span>
                      </span>
                      <app-country-combo name="citizenCountryId" 
                      [(ngModel)]="companyModel.citizenCountryId"></app-country-combo>
                    </label>
                  </div>
                  <div class="col-md-4">
                    <label class="k-form-field">
                      <span>ملیت
                        <span class="k-required">*</span>
                      </span>
                      <app-country-combo name="nationalityCountryId"
                       [(ngModel)]="companyModel.nationalityCountryId"></app-country-combo>
                    </label>
    
                  </div>
                  <div class="col-md-4">
                    <label class="k-form-field">
                      <span>وب سایت</span>
                      <input class="k-textbox"
                       name="webSite" 
                       [(ngModel)]="companyModel.webSite"
                        placeholder="ایمیل" />
                    </label>
                  </div>
    
                
    
              </div>


            <div class="row  au margin-top-10">
                <div class="col-md-3">
                    <label class="k-form-field">
                      <span>ایمیل
                          <span class="k-required">*</span></span>
                      <input class="k-textbox"
                       name="email" 
                       [(ngModel)]="companyModel.email" placeholder="ایمیل" />
                    </label>
                  </div>    
                  <div class="col-md-3">
                      <label class="k-form-field">
                          <span>منطقه
                            <span class="k-required">*</span>
                          </span>
                          <input class="k-textbox" required name="urbanArea"
                           [(ngModel)]="companyModel.urbanArea" placeholder="منطقه" />
                        </label>
      </div>
                     
                            <div class="col-md-3">
                          <label class="k-form-field">
                          <span>شماره تماس
                            <span class="k-required">*</span>
                          </span>
                          <input class="k-textbox" required name="phoneNumber1" 
                          [(ngModel)]="companyModel.phoneNumber1" placeholder="شماره تماس" />
                        </label>
                      </div>
                      <div class="col-md-3">
                        <label class="k-form-field">
                          <span>شماره تماس
                            <span class="k-required">*</span>
                          </span>
                          <input class="k-textbox" required name="phoneNumber2" 
                          [(ngModel)]="companyModel.phoneNumber2" placeholder="شماره تماس" />
                        </label>
                      </div>
            </div>

          <div class="row au margin-top-10">

             
                <div class="col-md-6">
                <label class="k-form-field">
                    <span>آدرس
                      <span class="k-required">*</span>
                    </span>
                    <textarea class="k-textbox" 
                    name="centralOfficeAddress"
                     [(ngModel)]="companyModel.centralOfficeAddress"
                      required style="width: 100%;height: 50px;">

                      </textarea>
                  </label>
                </div>
                <div class="col-md-6">
                    <label class="k-form-field">
                        <span>توضیحات
                        </span>
                        <textarea class="k-textbox"
                         name="description" 
                         [(ngModel)]="companyModel.description"
                          required style="width: 100%;height: 50px;">
      
                          </textarea>
                      </label>
                  </div>                         

          </div>
          <div class=" au margin-top-10">
            <div class="text-right">
              <button type="button" class="k-button"
               (click)="return()">بازگشت</button>
              <!-- <button type="button" class="k-button k-primary"
               (click)="onSave(true)">ذخیره و بازگشت</button> -->
              <button type="button" class="k-button k-primary" 
              (click)="onSave(false)">ذخیره </button>
            </div>
          </div>

   </form>

      

<!-- <kendo-dialog-actions>
  <button kendoButton class="k-button " 
  (click)="onOk()" 
          primary="true" type="submit">تایید</button>    
  <button kendoButton class="k-button "
   (click)="onClose()">انصراف</button>
</kendo-dialog-actions> -->